.profile {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 1;
  transition: 0.5s ease-in;
}

.profile__user {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.profile__plans {
  max-height: 500px;
  overflow-y: scroll;
}

.profile__plans::-webkit-scrollbar {
  display: none;
}

.profile__user > h2 {
  color: white;
  font-size: 2.5rem;
  font-weight: 300;
}

.profile__username,
.profile__password {
  padding: 10px;
  padding-bottom: 0px !important;
  color: white !important;
}

.profile__password > label,
.profile__username > label {
  margin: 12px 0;
  color: #ebeeee;
  display: inline-block;
  float: left;
  width: 26%;
}

.profile__username > input,
.profile__password > input {
  padding: 10px 20px;
  color: #eee;
  background: #373233;
  border: 0;
  outline: none;
  font-size: 15px;
  line-height: 24px;
  width: 85%;
}

.profile__username > input:focus,
.profile__password > input:focus {
  color: #fff;
  background-color: #11abb0;
}

.profile__submit {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16.8%;
  margin-top: 25px;
}
.profile__submit button {
  width: 100%;
  background-image: linear-gradient(to right, #e40813, #ed5159);
}

.profile__image {
  height: 150px !important;
  width: 150px !important;
  object-fit: cover;
  background-image: linear-gradient(
    to top,
    rgba(255, 255, 255, 0.8) 0,
    rgba(255, 255, 255, 0) 60%,
    rgba(255, 255, 255, 0.8) 100%
  ) !important;
  margin-bottom: 10px;
}

.profile__plans {
  color: white;
}

@media screen and (max-width: 750px) {
  .profile {
    flex-direction: column;
  }
  .profile__user {
    margin-top: 70px;
    margin-bottom: 20px;
  }
  .profile__image {
    height: 100px !important;
    width: 100px !important;
  }
}
